name: SafeOps Scan Job

on:
  push:
    branches:
      - main

jobs:
  safeops-scan:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:20.04
    env:
      API_KEY: ${{ secrets.SAFEOPS_API_KEY }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install SafeOps CLI
        run: pip3 install safeops-cli --user -U

      - name: Check SafeOps CLI
        run: ls /bin

      - name: Trigger SafeOps Scan
        run: safeops start-scans -a $API_KEY

      - name: Check SafeOps Results
        run: safeops get-results -a $API_KEY
